@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono-Regular-Modified.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --terminal-back: #07070a;
    --terminal-text: #dddddd;
    --tertiary-color: #dddddd;
    --primary-color: #ffff22;
    --secondary-color: #fc8e4a;

    /* --terminal-back: #081a22;
    --terminal-text: #f0cd91;
    --primary-color: #ff8833;
    --secondary-color: #349aa3;
    --tertiary-color: #f0cd91; */

    /* --terminal-back: #06041a;
    --terminal-text: #a0a6f2;
    --primary-color: #e1aa3e;
    --secondary-color: #a6d01e;
    --tertiary-color: #9ea6ec; */

    /* --terminal-back: #07070a;
    --terminal-text: #dddddd;
    --tertiary-color: #dddddd;
    --primary-color: #00ffff;
    --secondary-color: #ff44cc; */

    --machine-text: #37e037;
    --dir-text: #4c8bff;
    --line-height: 22px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--terminal-back);

    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
}

#terminal {
    font-family: 'JetBrains Mono', monospace;
    color: var(--terminal-text);

    width: 92vw;
    min-height: 100vh;
    padding: var(--line-height) 0;

    font-size: 16px;

    display: flex;
    flex-direction: column;
}

#char-measure {
    visibility: hidden;
    position: absolute;
}

#content {
    width: 80%;
    margin: 0 auto;
    flex: 1;
}
@media (max-width: 650px) {
    #content {
        padding: 0 3ch;
        width: 100%;
    }
}
@media (max-width: 500px) {
    #content {
        padding: 0 2ch;
        width: 100%;
    }
}

#blog {
    margin-left: 7ch;
    margin-right: 7ch;
}
#about {
    margin-right: 6ch;
}
#projects {
    margin-left: 4ch;
}
@media (max-width: 680px) {
    #blog {
        margin-left: 4ch;
        margin-right: 4ch;
    }
    #about {
        margin-right: 4ch;
    }
    #projects {
        margin-left: 3ch;
    }
}
@media (max-width: 470px) {
    #blog {
        margin-left: 2ch;
        margin-right: 2ch;
    }
    #about {
        margin-right: 2ch;
    }
    #projects {
        margin-left: 2ch;
    }
}
@media (max-width: 370px) {
    #blog {
        margin-left: 1ch;
        margin-right: 1ch;
    }
    #about {
        margin-right: 1ch;
    }
    #projects {
        margin-left: 1ch;
    }
}

.machine {
    font-weight: bold;
    color: var(--secondary-color);
}

.dir {
    color: var(--tertiary-color);
    /* color: var(--dir-text); */
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
}

#cursor {
    animation: blink 1.2s infinite;
    user-select: none;
}

.pre {
    white-space: pre;
}

.center {
    text-align: center;
}

.line {
    margin-bottom: var(--line-height);
}
.upline {
    margin-top: var(--line-height);
}

#date {
    font-style: italic;
    font-weight: bold;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--terminal-back);
    background-color: var(--primary-color);
}

#upper-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2ch;
}

.blog-content * {
    margin-bottom: var(--line-height);
}

.blog-content > *:last-child {
    margin-bottom: 0;
}

pre {
    /* background-color: #EEEEEE; */
    font-family: inherit;
    /* margin-inline: inherit;
    margin-block: inherit; */
    width: 100%;
    padding-top: var(--line-height);
    padding-bottom: var(--line-height);
    padding-left: 16px;
}

code {
    font-family: inherit;
}

footer {
    margin-top: var(--line-height);
}

footer .content {
    display: flex;
    justify-content: space-between;
    align-items: top;

    padding: 0 3ch;
}
@media (max-width: 650px) {
    footer .content {
        padding: 0 2ch;
    }
}

footer .left {
    margin-right: 2ch;
}

.ascii-title {
    white-space: pre;
}

ol {
    padding-left: 6ch;
}
ul {
    padding-left: 5ch;
    list-style-type: square;
}
@media (max-width: 650px) {
    ol {
        padding-left: 3ch;
    }
    ul {
        padding-left: 2ch;
    }
}

.blog-post {
    /* display: flex;
    justify-content: space-between;
    align-items: top; */

    padding: 0 3ch;
}
.blog-post-header {
    display: flex;
    flex-wrap: wrap;
    /* make gap between elements vertically equal to line-height */
    gap: var(--line-height) 0;
}
.blog-date {
    color: var(--secondary-color);
    flex: 0 1 auto;
    margin: 0;
    margin-right: 2ch;
}
.blog-post-title {
    flex: 0 1 auto;
    margin: 0;
}
@media (max-width: 450px) {
    .blog-post {
        padding: 0 1ch;
    }
}

.blog-post .left {
    width: 25%;
    padding-right: 3ch;
}

.blog-post .middle {
    width: 15%;
}

.blog-post .right {
    padding-left: 3ch;
    width: 60%;
}

::-webkit-scrollbar-track {
    background: var(--terminal-back);
}
::-webkit-scrollbar-thumb {
    background: var(--terminal-text);
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
* {
    scrollbar-color: var(--terminal-text) var(--terminal-back);
    scrollbar-width: thin;
}

#sugo-gif {
}
#sugo-gif span {
}

.red {
    color: red;
}

.highlight {
    color: var(--secondary-color);
    font-weight: bold;
}
.highlight-nobold {
    color: var(--secondary-color);
}
b {
    color: var(--secondary-color);
    font-weight: bold;
}
strong {
    color: var(--secondary-color);
    font-weight: bold;
}
em {
    color: var(--secondary-color);
    font-style: italic;
}

.hor-bar {
    color: var(--tertiary-color);
}
.tertiary {
    color: var(--tertiary-color);
}

#this-project-is-open-source {
    margin-top: var(--line-height);
}
@media (max-width: 657px) {
    #make-your-own-site {
        display: none;
    }
    #footer-ascii {
        display: none;
    }
    #this-project-is-open-source {
        margin-bottom: var(--line-height);
    }
}

/* 620px */
/* 696px */
/* 657px */
/* 444px */
/* 800px */

@media (max-width: 344px) {
    .extern-icon {
        display: none;
        position: absolute;
    }
}
