* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --terminal-back: #000000;
    --terminal-text: #ffffff;
    --machine-text: #37e037;
    --dir-text: #4c8bff;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--terminal-back);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

#terminal {
    font-family: monospace;
    color: var(--terminal-text);

    width: 92vw;
    height: 95vh;

    font-size: 16px;
    line-height: 19px; /* the magic number for this height of monospace */
}

#char-measure {
    visibility: hidden;
    position: absolute;
}

#content {
    width: 85%;
    margin: 0 auto;
}

.machine {
    font-weight: bold;
    color: var(--machine-text);
}

.dir {
    color: var(--dir-text);
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
}

#cursor {
    animation: blink 1.2s infinite;
    user-select: none;
}

.pre {
    white-space: pre;
}

.center {
    text-align: center;
}

.line {
    margin-bottom: 19px;
}

#date {
    font-style: italic;
    font-weight: bold;
}
