<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sugo14</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/assets/images/sugo.webp" type="image/webp">
    <link
			href="/css/code.css"
			rel="stylesheet"
		/>
</head>
<body class="blog-page">
    <div id="terminal-parent">
        <div id="terminal">
            <span id="char-measure">0</span>
            <div id="header">
                <p class="center pre" id="username"><a href="/">┏━━━━━┳━━┳━━┳━━━━━┳━━━━━┳━━━┳━┳━┓
┃   ━━┫  ┃  ┃  ┏━━┫  ╻  ┣━┓ ┃ ╹ ┃
┣━━   ┃     ┃  ╹  ┃  ╹  ┣━┛ ┗━┓ ┃
┗━━━━━┻━━━━━┻━━━━━┻━━━━━┻━━━━━┻━┛</a></p>
                <p class="hor-bar center">
    ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
                </p>
                <div class="center nav">
                    <a href="/about/" id="about">About</a>
                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                    ┃
                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                    <a href="/blog/" id="blog">Blog</a>
                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                    ┃
                    <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
                    <a href="/projects/" id="projects">Projects</a>
                </div>
                <p class="hor-bar center line">
    ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
                </p>
            </div>

            <div id="content" class="blog-content">
                <p class="line ascii-title">{{ title }}</p>
                <p id="date" class="line highlight-nobold">━━ {{ date | blogDateFormat }} ━━</p>
                {{ content }}
            </div>

            <footer>
                <p class="hor-bar"></p>
                <div class="content">
                    <div class="left">
                        <p id="make-your-own-site"><br>
                            <b>Make your own site</b>, because it's
                            <a href="https://www.youtube.com/watch?v=0pyGTzgr940" target="_blank" rel="noopener noreferrer">
                            awesome</a>!
                        </p>
                        <p id="this-project-is-open-source">
                            This project is
                            <a href="https://github.com/sugo14/Portfolio" target="_blank" rel="noopener noreferrer">open-source</a>
                            and licensed under the
                            <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" rel="noopener noreferrer">
                            GNU GPL v3.0</a>.
                        </p>
                    </div>

                    <div class="right" id="footer-ascii">
                            <p class="pre ascii-art"><a href="https://asciiart.website/art/642"  target="_blank" rel="noopener noreferrer">            __ 
           / _)
    .-^^^-/ /  
 __/       /   
<__.|_|-|_|    </a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script type="module" src="/scripts/asciiFont.js"></script>
    <script type="module" src="/scripts/gridString.js"></script>
    <script type="module" src="/scripts/script.js"></script>
    <script data-goatcounter="https://sugo14.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>
</html>
