<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="
        default-src 'self';
        style-src 'self' 'unsafe-inline';
        img-src 'self' data:;
        font-src 'self';
        script-src  'self' 'unsafe-inline' https://gc.zgo.at/count.js;
        connect-src 'self' https://sugo14.goatcounter.com/count;
    "> -->
    <title>sugo14</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/assets/images/sugo.webp" type="image/webp">
    <link
			href="/css/code.css"
			rel="stylesheet"
		/>
</head>
<body>
    <div id="terminal-parent">
        <div id="terminal">
            <span id="char-measure">0</span>
            <div id="header">
                <div id="banner">
                    <div id="view-count">
                        <p class="pre">&lt;o&gt;
<span id="view-count-value"></span></p>
                    </div>
                    <p class="center pre" id="username">{% if curr-page == "home" %}<span class="highlight">┏━━━━━┳━━┳━━┳━━━━━┳━━━━━┳━━━┳━┳━┓
┃   ━━┫  ┃  ┃  ┏━━┫  ╻  ┣━┓ ┃ ╹ ┃
┣━━   ┃     ┃  ╹  ┃  ╹  ┣━┛ ┗━┓ ┃
┗━━━━━┻━━━━━┻━━━━━┻━━━━━┻━━━━━┻━┛</span>{% else %}<a href="/">┏━━━━━┳━━┳━━┳━━━━━┳━━━━━┳━━━┳━┳━┓
┃   ━━┫  ┃  ┃  ┏━━┫  ╻  ┣━┓ ┃ ╹ ┃
┣━━   ┃     ┃  ╹  ┃  ╹  ┣━┛ ┗━┓ ┃
┗━━━━━┻━━━━━┻━━━━━┻━━━━━┻━━━━━┻━┛</a>{% endif %}</p>
                    <p class="pre" id="theme-toggle"><a href="javascript:toggleTheme()">(v)
 ≡ </a></p>
                </div>
                <p class="hor-bar center">
    ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
                </p>
                <div class="center nav">
                    {% if curr-page == "about" %}
                        <span class="highlight" id="about">About</span>
                    {% else %}
                        <a href="/about/" id="about">About</a>
                    {% endif %}
                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                    ┃
                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                    {% if curr-page == "blog" %}
                        <span class="highlight" id="blog">Blog</span>
                    {% else %}
                        <a href="/blog/" id="blog">Blog</a>
                    {% endif %}
                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                    ┃
                    <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
                    {% if curr-page == "projects" %}
                        <span class="highlight" id="projects">Projects</span>
                    {% else %}
                        <a href="/projects/" id="projects">Projects</a>
                    {% endif %}
                </div>
                <p class="hor-bar center line">
    ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
                </p>
            </div>

            <div id="content">
                {{ content }}
            </div>

            <footer>
                <p class="hor-bar"></p>
                <div class="content">
                    <div class="left">
                        <p id="make-your-own-site"><br>
                            <b>Make your own site</b>, because it's
                            <a href="https://www.youtube.com/watch?v=0pyGTzgr940" target="_blank" rel="noopener noreferrer">
                            awesome</a>!
                        </p>
                        <p id="this-project-is-open-source">
                            This project is
                            <a href="https://github.com/sugo14/Portfolio" target="_blank" rel="noopener noreferrer">open-source</a>
                            and licensed under the
                            <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" rel="noopener noreferrer">
                            GNU GPL v3.0</a>.
                        </p>
                    </div>

                    <div class="right" id="footer-ascii">
                            <p class="pre ascii-art"><a href="https://asciiart.website/art/642"  target="_blank" rel="noopener noreferrer">            __ 
           / _)
    .-^^^-/ /  
 __/       /   
<__.|_|-|_|    </a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script type="module" src="/scripts/asciiFont.js"></script>
    <script type="module" src="/scripts/gridString.js"></script>
    <script type="module" src="/scripts/script.js"></script>
    <script type="module" src="/scripts/sugo.js"></script>
    <script type="module" src="/scripts/counter.js"></script>
    <script type="module" src="/scripts/themes.js"></script>
    <script data-goatcounter="https://sugo14.goatcounter.com/count"
        async src="/scripts/count.js"></script>
</body>
</html>
